USE [master]
GO
/****** Object:  Database [DANTDB]    Script Date: 02.12.2020 16:48:50 ******/
CREATE DATABASE [DANTDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DANTDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DANTDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DANTDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DANTDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DANTDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DANTDB]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 02.12.2020 16:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[time_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[number_appointment] [int] NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentStatus]    Script Date: 02.12.2020 16:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status_appointment] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AppointmentStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Check]    Script Date: 02.12.2020 16:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Check](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NOT NULL,
	[check_status_id] [int] NOT NULL,
	[number_check] [int] NOT NULL,
	[service_cost] [int] NOT NULL,
 CONSTRAINT [PK_Check] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckStatus]    Script Date: 02.12.2020 16:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[check_status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CheckStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 02.12.2020 16:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[patronymic] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[card_number] [int] NOT NULL,
	[deleted] [int] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 02.12.2020 16:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[patronymic] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[deleted] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 02.12.2020 16:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeeStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetable]    Script Date: 02.12.2020 16:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[time] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Timetable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([id], [time_id], [client_id], [employee_id], [status_id], [number_appointment], [date]) VALUES (2, 6, 1, 1, 3, 510000, CAST(N'2020-11-16' AS Date))
INSERT [dbo].[Appointment] ([id], [time_id], [client_id], [employee_id], [status_id], [number_appointment], [date]) VALUES (4, 11, 1, 1, 4, 510001, CAST(N'2020-11-16' AS Date))
INSERT [dbo].[Appointment] ([id], [time_id], [client_id], [employee_id], [status_id], [number_appointment], [date]) VALUES (5, 14, 1, 1, 4, 510002, CAST(N'2020-11-17' AS Date))
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
SET IDENTITY_INSERT [dbo].[AppointmentStatus] ON 

INSERT [dbo].[AppointmentStatus] ([id], [status_appointment]) VALUES (1, N'Записан')
INSERT [dbo].[AppointmentStatus] ([id], [status_appointment]) VALUES (2, N'Явился на прием')
INSERT [dbo].[AppointmentStatus] ([id], [status_appointment]) VALUES (3, N'Не явился на прием')
SET IDENTITY_INSERT [dbo].[AppointmentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Check] ON 

INSERT [dbo].[Check] ([id], [appointment_id], [check_status_id], [number_check], [service_cost]) VALUES (1, 2, 2, 510000, 3500)
INSERT [dbo].[Check] ([id], [appointment_id], [check_status_id], [number_check], [service_cost]) VALUES (2, 5, 1, 510001, 3000)
INSERT [dbo].[Check] ([id], [appointment_id], [check_status_id], [number_check], [service_cost]) VALUES (3, 5, 1, 510002, 3000)
SET IDENTITY_INSERT [dbo].[Check] OFF
GO
SET IDENTITY_INSERT [dbo].[CheckStatus] ON 

INSERT [dbo].[CheckStatus] ([id], [check_status]) VALUES (1, N'Готов к оплате')
INSERT [dbo].[CheckStatus] ([id], [check_status]) VALUES (2, N'Оплачен')
INSERT [dbo].[CheckStatus] ([id], [check_status]) VALUES (3, N'Удален')
SET IDENTITY_INSERT [dbo].[CheckStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([id], [name], [surname], [patronymic], [phone], [card_number], [deleted]) VALUES (1, N'Григорий', N'Лужков', N'Олегович', N'+78372637284', 100000, NULL)
INSERT [dbo].[Client] ([id], [name], [surname], [patronymic], [phone], [card_number], [deleted]) VALUES (2, N'Павел', N'Петров', N'Александрович', N'+79775238471', 100003, NULL)
INSERT [dbo].[Client] ([id], [name], [surname], [patronymic], [phone], [card_number], [deleted]) VALUES (3, N'Дмитрий', N'Шакалов', N'Сергеевич', N'+79378273813', 100002, NULL)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([id], [position_id], [name], [surname], [patronymic], [phone], [login], [password], [deleted]) VALUES (1, 7, N'Василий', N'Гетигежев', N'Олегович', N'+79852637281', N'admin', N'c3284d0f94606de1fd2af172aba15bf3', NULL)
INSERT [dbo].[Employee] ([id], [position_id], [name], [surname], [patronymic], [phone], [login], [password], [deleted]) VALUES (2, 1, N'Татьяна', N'Золотова', N'Григорьевна', N'+79634627361', N'adm1', N'14e1b600b1fd579f47433b88e8d85291', NULL)
INSERT [dbo].[Employee] ([id], [position_id], [name], [surname], [patronymic], [phone], [login], [password], [deleted]) VALUES (3, 1, N'Екатерина', N'Окунева', N'Павловна', N'+79772593736', N'adm2', N'1fd3fac2c7525ee0c535253d1fa861e4', NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([id], [position]) VALUES (1, N'Администратор')
INSERT [dbo].[Position] ([id], [position]) VALUES (2, N'Терапевт')
INSERT [dbo].[Position] ([id], [position]) VALUES (3, N'Ортодонт')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Timetable] ON 

INSERT [dbo].[Timetable] ([id], [time]) VALUES (1, N'9:00 - 9:30')
INSERT [dbo].[Timetable] ([id], [time]) VALUES (2, N'9:30 - 10:00')
INSERT [dbo].[Timetable] ([id], [time]) VALUES (3, N'10:00 - 10:30')
SET IDENTITY_INSERT [dbo].[Timetable] OFF
GO
/****** Object:  Index [IX_Client]    Script Date: 02.12.2020 16:48:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Client] ON [dbo].[Client]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_AppointmentStatus] FOREIGN KEY([status_id])
REFERENCES [dbo].[AppointmentStatus] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_AppointmentStatus]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Client] FOREIGN KEY([client_id])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Client]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Employee]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Timetable] FOREIGN KEY([time_id])
REFERENCES [dbo].[Timetable] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Timetable]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Appointment]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_CheckStatus] FOREIGN KEY([check_status_id])
REFERENCES [dbo].[CheckStatus] ([id])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_CheckStatus]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeStatus] FOREIGN KEY([position_id])
REFERENCES [dbo].[Position] ([id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeStatus]
GO
USE [master]
GO
